/***** HERO SECTION *****/

#hero {
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: var(--paddingG);
}

.hero-first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-second-column img {
    padding-top: 50px;
    max-width: 80%;
    min-width: 50%;
}

#claim {
    font-size: 8rem;
    line-height: 7rem;
    margin-top: auto;
    margin-bottom: 100px;
}


/***** PHILOSOPHY *****/

#philosophy {
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: var(--paddingG);

}

.philosophy-first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philosophy-second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philosophy-third-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philosophy-fourth-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/***** PHILOSOPHY 2 *****/

#philosophy2 {
    padding-bottom: 400px;
}

#philosophy2 p {
    width: 25%;
}

.philosophy2-first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philosophy2-second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/***** STUDIO *****/

#studio {
    margin: 0px;
    padding: 0px 0px 500px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: var(--paddingG);
}

.studio-first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studio-second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studio-third-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studio-fourth-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/***** CONTACT *****/

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: var(--paddingG);
}

.contact-first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-third-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-fourth-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}