* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --paddingG: 50px;
    --fontSize: 1.5rem;
}

body {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    src: url('frontend/src/assets') format('truetype');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    padding: var(--paddingG);
}

p {
    font-size: var(--fontSize);
    line-height: 2rem;
    color: #222222;
}

img {
    max-width: 100%;
    height: auto;
}


h2 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.15rem;
    line-height: 5rem;

}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
    line-height: 3rem;
}

a {
    font-size: var(--fontSize);
    text-decoration: none;
    color: #222222;
}

