#portfolio-container {
    display: flex;
    flex-direction: row;
}

aside {
    position: fixed;
    display: block;
    top: 25vh;
}

.active {
    text-decoration: line-through;
}

#projects {
    margin: 12.5% 0px 0px 50%;
}

#project p {
    position: fixed;
    bottom: var(--paddingG);
    left: var(--paddingG);
    width: 20%;
}

/* background: #987575;
 */